.text {
            color: #f70647;
            font-size: 20px;   
    margin-bottom: 10;
}

.input {
    width: 269px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 5px solid #f70647;
    font-size: 20px;
    padding-left: 10px;
}