.form {
    width: 320px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: #f70647;
    font-size: 30px;
}

.field {
    border: 5px solid #f70647;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: rgb(7, 2, 2);
    padding-left: 20px;
    font-size: 20px;
}

.button {
    background-color: #f70647;
    color: white;
}