.container {
    background-color: rgb(177, 191, 201);
   
}

.title {
    color: rgb(5, 1, 19);
    padding: 20px;
}

.text {
    background-color: rgb(222, 230, 236);
    padding: 20px;
    border: 1px solid rgb(5, 1, 19);
}

.header {
    color: rgb(5, 1, 19);
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    padding-bottom: 20px;
}

.itemTitle {
    color: rgb(5, 1, 19);
    padding-left: 20px;
}