.number {
    margin-top: 0;
    margin-bottom: 0px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
}

.name {
    margin-top: 0;
        margin-bottom: 0px;
        color: white;
        display: flex;
        align-items: center;
        gap: 8px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
         background-color: #f70647;
            color: white;
}